/* Fondo global fijo */
body {
  background: url('img/Fondo.jpg') center / cover no-repeat fixed;
  background-color: #000;
}



/* default oscuro */
.section-dark {
  background: #0d0d0d;
}

/* excepción */
.section-transparent {
  background: transparent;
}
.text-shadow-soft {
  text-shadow: 0 2px 6px rgba(0,0,0,0.8);
}

.text-shadow-strong {
  text-shadow: 0 4px 12px rgba(0,0,0,0.9);
}

.text-glow {
  text-shadow: 0 0 8px rgba(0,0,0,0.9);
}